@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
*{
  margin:0;
  padding:0;
  }
  .button.primary{
      color:gr;
    }
    .button.danger{
      color:white;
      background-color:black;
      padding:10px;
      border-radius: 0.5rem;
    }
    
    .button:hover{
      background-color:purple;
      transition: linear 2s;
      /* height:80px; */
  